<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Angular Learning</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['users']" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="height: 100vh;">
  <router-outlet></router-outlet>
</div>

<!-- <div style="display: flex;">


  <div style="width: 30%;">
    <h2>User Form</h2>
    <form [formGroup]="userForm" (ngSubmit)="updateId === -1 ? onSubmit() : onUpdate()">
      <div class="div-br">
        <label for="name" class="label-br">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Name">
        <div style="font-size: 0.8rem; color: red"
          *ngIf="userForm.controls['name'].touched && userForm.controls['name'].invalid">*Filed Required</div>
      </div>
      <div class="div-br">
        <label for="email" class="label-br">Email: </label>
        <input id="email" formControlName="email" placeholder="Email">
        <div style="font-size: 0.8rem; color: red"
          *ngIf="userForm.controls['email'].touched && userForm.controls['email'].invalid">*Filed Required</div>
      </div>
      <div class="div-br">
        <label for="country" class="label-br">Country</label>
        <input id="country" type="text" formControlName="country" placeholder="Country">
        <div style="font-size: 0.8rem; color: red"
          *ngIf="userForm.controls['country'].touched && userForm.controls['country'].invalid">*Filed Required</div>
      </div>
      <div class="div-br">
        <label for="state" class="label-br">State</label>
        <input type="text" formControlName="state" placeholder="State">
        <div style="font-size: 0.8rem; color: red"
          *ngIf="userForm.controls['state'].touched && userForm.controls['state'].invalid">*Filed Required</div>
      </div>
      <div class="div-br">
        <label for="city" class="label-br">City</label>
        <input id="city" type="text" formControlName="city" placeholder="City">
        <div style="font-size: 0.8rem; color: red"
        *ngIf="userForm.controls['city'].touched && userForm.controls['city'].invalid">*Filed Required</div>
      </div>
      <div formArrayName="favFood" class="div-br">
        <label for="favFood" class="label-br">Favourite Food</label>
        <span formGroupName="0">
          <input type="checkbox" formControlName="pizza" value="pizza">
          <label for="">Pizza</label>
        </span>
        <span formGroupName="1">
          <input type="checkbox" formControlName="burger" value="burger">
          <label for="">Burger</label>
        </span>
        <span formGroupName="2">
          <input type="checkbox" formControlName="noodles" value="noodles">
          <label for="">Noodles</label>
        </span>
      </div>
      <div class="div-br">
        <label class="label-br">Gender</label>
        <label for="male">Male</label>
        <input id="male" type="radio" formControlName="gender" value="male" selected>
        <label for="female">Female</label>
        <input id="female" type="radio" formControlName="gender" value="female">
      </div>

      <p>
        <label for="maritalStatus" class="label-br">Marital Status</label>
        <select formControlName="maritalStatus">
          <option disabled value="default">Marital Status</option>
          <option value="single">Single</option>
          <option value="married">Married</option>
        </select>
      </p>

      <div>
        <input type="submit" value="Add User" *ngIf="updateId == -1" [disabled]="userForm.invalid">
        <input type="submit" value="Update User" *ngIf="updateId != -1">
      </div>
    </form>
  </div>
  <div style="width: 75%; border-left: 1px solid gray; padding: 5px;">
    <h2>Users Table</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Fav Food</th>
        <th>Gender</th>
        <th>Marital Status</th>
        <th>Edit</th>
      </tr>

      <tr *ngFor="let user of users; let i = index;">
        <td>{{user.name | titlecase}}</td>
        <td>{{user.email}}</td>
        <td>{{user.country | titlecase}}</td>
        <td>{{user.state | titlecase}}</td>
        <td>{{user.city | titlecase}}</td>
        <td>{{user.favFood}}</td>
        <td>{{user.gender | titlecase}}</td>
        <td>{{user.maritalStatus | titlecase}}</td>
        <td>
          <button (click)="onEdit(i)">Edit</button>
          <button style="margin-left: 3px;" (click)="onDelete(i)">Delete</button>
        </td>
      </tr>


    </table>
  </div>
</div> -->


